<h1>New Rapper Form</h1>

<form action="/rappers" method="POST">
  <input type="text" name="rapper[name]" placeholder="name"/>
  <input type="number" name="rapper[album_sales]" placeholder="album sales" />
  <input type="text" name="rapper[fire]" placeholder="fiya"/>
  <input type="submit" value="Submit" />
</form>
