<h1>New Rapper Form</h1>

<form action="/rappers" method="POST">
  <input type="text" name="name" placeholder="name"/>
  <input type="number" name="album_sales" placeholder="album sales" />
  <input type="text" name="fire" placeholder="fiya"/>
  <input type="submit" value="Submit" />
</form>
